<div class="page-title-breadcrumb">
  <ol class="breadcrumb page-breadcrumb pull-left">
    <li><i class="fa fa-home"></i>&nbsp;<a href="/#/">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i></li>
    <li><a href="/#/">&nbsp;&nbsp;Contato</a></li>
  </ol>
</div>

<div class="demo-form-component">
  <div class="row" style="margin: 0;">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
          <form role="form" name="form" class="form-horizontal form-seperated" novalidate>
            <div class="panel-body">
                Contato.
            </div>
 

            </div>
          </form> 
        </div>
      </div>
    </div>
  </div>
</div>