<div class="col-xs-4 col-sm-4 col-md-4 lo-lg-4" style="padding-left: 5px; padding-right: 5px;">
  <div class="mui-textfield">
      <ui-select ng-model="vm.requisicao.model" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required>
        <ui-select-match placeholder="Selecione um cenário climático">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="model in vm.models.data | propsFilter: {name: $select.search}">
          <div ng-bind-html="model.name | highlight: $select.search"></div>                        
        </ui-select-choices>
      </ui-select>                  
    <label>Cenário Climático <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
  </div>
</div>  


<!--<div class="col-xs-2 col-sm-2 col-md-2 lo-lg-2" style="padding-left: 5px; padding-right: 5px;">
  <div class="mui-textfield">
      <ui-select ng-model="vm.requisicao.couple" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required>
        <ui-select-match placeholder="Selecione um modelo acoplado">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="couple in vm.couples.data | propsFilter: {name: $select.search}">
          <div ng-bind-html="couple.name | highlight: $select.search"></div>                        
        </ui-select-choices>
      </ui-select>                  
    <label>Modelo acoplado <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
  </div>
</div>   

<div class="col-xs-2 col-sm-2 col-md-2 lo-lg-2" style="padding-left: 5px; padding-right: 5px;">
  <div class="mui-textfield">
      <ui-select ng-model="vm.requisicao.scenario" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required>
        <ui-select-match placeholder="Selecione um cenário">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="scenario in vm.scenarios.data | propsFilter: {name: $select.search}">
          <div ng-bind-html="scenario.name | highlight: $select.search"></div>                        
        </ui-select-choices>
      </ui-select>                  
    <label>Cenário <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
  </div>
</div>  

<div class="col-xs-2 col-sm-2 col-md-2 lo-lg-2" style="padding-left: 5px; padding-right: 5px;">
  <div class="mui-textfield">
      <ui-select ng-model="vm.requisicao.resolution" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required>
        <ui-select-match placeholder="Selecione uma resolução">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="resolution in vm.resolutions.data | propsFilter: {name: $select.search}">
          <div ng-bind-html="resolution.name | highlight: $select.search"></div>                        
        </ui-select-choices>
      </ui-select>                  
    <label>Resolução <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
  </div>
</div> 

<div class="col-xs-2 col-sm-2 col-md-2 lo-lg-2" style="padding-left: 5px; padding-right: 5px;">
  <div class="mui-textfield">
      <ui-select ng-model="vm.requisicao.ensemble" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required>
        <ui-select-match placeholder="Selecione um conjunto">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="ensemble in vm.ensembles.data | propsFilter: {name: $select.search}">
          <div ng-bind-html="ensemble.name | highlight: $select.search"></div>                        
        </ui-select-choices>
      </ui-select>                  
    <label>Conjuntos <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
  </div>
</div>-->

<div class="col-xs-2 col-sm-2 col-md-2 lo-lg-2" style="padding-left: 5px; padding-right: 5px;">
  <div class="mui-textfield">
      <ui-select ng-model="vm.requisicao.interval" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required>
        <ui-select-match placeholder="Selecione um intervalo">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="interval in vm.intervals.data | propsFilter: {name: $select.search}">
          <div ng-bind-html="interval.name | highlight: $select.search"></div>                        
        </ui-select-choices>
      </ui-select>                  
    <label>Frequência <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
  </div>
</div> 