<!--<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th width="100px">Data</th>
      <th width="100px">Hora</th>
      <th>Variável</th>
      <th width="100px">Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="data in vm.result.data | filter:filter.search">
      <td>{{data.date | date : 'dd/MM/yyyy'}}</td>
      <td>{{data.time}}</td>
      <td>{{data.variable}}</td>
      <td>{{data.value | number}}</td>
    </tr>
    <tr>
  </tbody>
</table>
Exibindo {{(vm.currentPage - 1) * vm.pageSize + 1}} até {{vm.pageSize > vm.result.count ? vm.result.count : ((vm.currentPage - 1) * vm.pageSize + vm.pageSize > vm.result.count) ? vm.result.count : (vm.currentPage - 1) * vm.pageSize + vm.pageSize}} de {{vm.result.count}} registros.

<div class="tab-content" style="padding-top: 1px;padding-bottom: 1px;">
  <div class="text-center" ng-if="vm.result.pages > 1">
    <pagination ng-model="vm.result.page" max-size="vm.paginationItemsSize"
      total-items="vm.result.count" num-pages="vm.result.pages"
      items-per-page="vm.paginationPageSize" ng-change="vm.pageChanged()"
      class="pagination-sm" boundary-links="true" rotate="false"
      previous-text="Anterior" next-text="Próxima" first-text="Primeira" last-text="Última">
    </pagination>
  </div>
</div>  -->

<!--lado esquerdo-->
<div style="width:100%;height: calc(100% - 59px);float: left;position:relative;min-height:100%">
  <leaflet center="vm.center" controls="vm.controls" width="100%" height="345px"></leaflet>
</div>

