<div class="page-title-breadcrumb">
  <ol class="breadcrumb page-breadcrumb pull-left">
    <li><i class="fa fa-home"></i>&nbsp;<a href="/#/">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i></li>
    <li><a href="/#/">&nbsp;&nbsp;Dashboard</a></li>
  </ol>
</div>

<div class="demo-form-component">
  <div class="row" style="margin: 0;">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body" style="padding-left: 0px;padding-right: 0px;padding-bottom: 0;">
          <!-- <form role="form" name="form" class="form-horizontal form-seperated" novalidate> -->
            <div class="form-body">

              <div class="col-md-12" style="padding:0">
                <div class="panel">
                  <div class="panel-body"  style="padding:0;padding-top:0px;">
                    <div id="viewcode-rootwizard-script" class="viewcode-example">
                      <div id="rootwizard" class="wizard-wrapper">
                        <div class="navbar">
                          <div class="navbar-inner">
                            <ul class="nav">
                              <li class="aba-um active">
                                <a>
                                  <i class="icon-speech"></i>
                                  <p style="font-size: 12px;"><span>1º Passo</span>Escolha dos dados</p>
                                </a>
                                <a id="click-aba-um" href="#tab1-wizard-custom-circle" data-toggle="tab" style="display:none;"></a>
                              </li>
                              <li class="aba-dois">
                                <a>
                                  <i class="icon-book-open"></i>
                                  <p style="font-size: 12px;"><span>2º Passo</span>Visualização de amostra do dado</p>
                                </a>
                                <a id="click-aba-dois" href="#tab2-wizard-custom-circle"  data-toggle="tab" style="display:none;"></a>
                              </li>
                              <li class="aba-tres">
                                <a>
                                  <i class="icon-list"></i>
                                  <p style="font-size: 12px;"><span>3º Passo</span>Dados e formato dos dados</p>
                                </a>
                                <a id="click-aba-tres" href="#tab3-wizard-custom-circle" data-toggle="tab" style="display:none;"></a>
                              </li>
                              <li class="aba-quatro">
                                <a>
                                  <i class="icon-check"></i>
                                  <p style="font-size: 12px;"><span>4º Passo</span>Concluir requisição</p>
                                </a>
                                <a id="click-aba-quatro" href="#tab4-wizard-custom-circle" data-toggle="tab" style="display:none;"></a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!--<div id="bar" class="progress active">
                          <div style="width: {{vm.value}}%" class="bar progress-bar progress-bar-success" aria-valuenow="{{vm.value}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>-->
                        <div class="tab-content" style="padding-top: 0px;padding-bottom:0">
                          <div id="tab1-wizard-custom-circle" class="tab-pane active">
                            <h3 class="mbxl" style="font-size: 19px;margin-bottom: 20px !important;">Escolha o cenário climático, frequência e demais dados necessários</h3>
                            <form name="vm.formum" class="form-horizontal">

                              <div class="form-group">
                                <div ng-include="'app/pagina/dashboard/templates/form_filtro_default.html'"/>
                              </div>

                              <div class="form-group">
                                <div ng-include="'app/pagina/dashboard/templates/form_filtro_variaveis.html'"/>
                              </div>


                              <div class="form-group">
                                <div ng-include="'app/pagina/dashboard/templates/form_filtro_periodo.html'"/>
                                <div ng-include="'app/pagina/dashboard/templates/form_filtro_coordenada_cidade.html'"/>
                              </div>

                              <ul class="pager wizard" style="float: right; display: inline-block; width: 100px; margin-top: 0px;">
                                <li class="next">
                                  <button class="btn btn-info button-next mlm" style="float: right;" ng-click="vm.step('dois');"> Próximo
                                    <i class="fa fa-arrow-circle-o-right mlx"></i>
                                  </button>
                                </li>
                              </ul>

                              <div style="height: 35px; padding: 8px 10px; background-color: #d9edf7; width: calc(100% - 120px); float: left; color: #2196f3; margin-left: -9px; border-left: 3px solid #2196f3;">
                                <i class="fa fa-info-circle" style="float: left;margin-right: 8px;font-size: 20px;"></i>
                                <div style="float: left;">
                                  <p>Prezado usuário, recomenda-se realizar a requisição de períodos maiores que 10 anos.</p>
                                </div>
                              </div>

                              <div class="copyright pull-right" style="position: fixed; bottom: 10px; font-size: 11px; text-align: right; right: 26px;"> Os dados disponibilizados por esta plataforma não podem ser usados para propósitos comerciais. 
                              </br>        
                              Em nenhum caso, o CPTEC/INPE pode ser responsabilizado por danos decorrentes do uso destes dados.
                              </div>
                              

                            </form>
                          </div>


                          <!--TAB 2-->
                          <div id="tab2-wizard-custom-circle" class="tab-pane">                            
                              <form role="form" name="vm.formdois" novalidate>

                              <div ng-include="'app/pagina/dashboard/templates/form_passo_dois_table.html'"/>

                              <ul class="pager wizard" style="margin-top: 1px;margin-bottom: 0;">
                                <li class="next">
                                  <button class="btn btn-info button-next mlm" ng-click="vm.step('tres');" style="float: right;margin-top: 15px;"> Próximo
                                    <i class="fa fa-arrow-circle-o-right mlx"></i>
                                  </button>
                                </li>
                                <li class="previous">
                                  <button class="btn btn-info button-previous mlm" ng-click="vm.step('um')" style="float: right;margin-top: 15px;"> Anterior
                                    <i class="fa fa-arrow-circle-o-left mlx"></i>
                                  </button>
                                </li>                              
                              </ul>   
                              </form>                         
                            
                          </div>
                          <div id="tab3-wizard-custom-circle" class="tab-pane fadeIn">
                            <h3 class="mbxl" style="font-size: 19px;margin-bottom: 20px !important;">Informar dados pessoais e escolha do formato dos arquivos</h3>

                            <form role="form" name="vm.formtres" novalidate>

                                <div class="form-group">
                                  <div class="col-xs-6 col-sm-6 col-md-6 lo-lg-6" style="padding-left: 5px; padding-right: 5px;">
                                    <div class="mui-textfield">
                                      <input required type="text" name="name" placeholder="nome" ng-model="vm.requisicao.name" class="required form-control" focus/>
                                      <span class="requerido">Este campo é obrigatório.</span>
                                      <label>Nome</label>
                                    </div>
                                  </div>

                                  <div class="col-xs-6 col-sm-6 col-md-6 lo-lg-6" style="padding-left: 5px; padding-right: 5px;">
                                    <div class="mui-textfield">
                                      <input required type="text" name="email" placeholder="e-mail" ng-model="vm.requisicao.email" class="required form-control"/>
                                      <span class="requerido">Este campo é obrigatório.</span>
                                      <label>E-mail</label>
                                    </div>
                                  </div> 

                                  <div class="col-xs-6 col-sm-6 col-md-6 lo-lg-6" style="padding-left: 5px; padding-right: 5px;">
                                    <div class="mui-textfield">
                                      <input required type="text" name="utilizacao" placeholder="utilização do dado" ng-model="vm.requisicao.utilizacao" class="required form-control" focus/>
                                      <span class="requerido">Este campo é obrigatório.</span>
                                      <label>Utilização do dado</label>
                                    </div>
                                  </div>                                  

                                  <div class="col-xs-6 col-sm-6 col-md-6 lo-lg-6" style="padding-left: 5px; padding-right: 5px;">
                                    <div class="mui-textfield">
                                      <input required type="text" name="instituicao" placeholder="instituição" ng-model="vm.requisicao.instituicao" class="required form-control" focus/>
                                      <span class="requerido">Este campo é obrigatório.</span>
                                      <label>Instituição</label>
                                    </div>
                                  </div>

                                </div>



                              <ul class="pager wizard">
                                <li class="next">
                                  <button class="btn btn-info button-next mlm" ng-click="vm.step('quatro')" style="float: right;"> Próximo
                                    <i class="fa fa-arrow-circle-o-right mlx"></i>
                                  </button>
                                </li>
                                <li class="previous">
                                  <button class="btn btn-info button-previous mlm" ng-click="vm.step('dois');" style="float: right;"> Anterior
                                    <i class="fa fa-arrow-circle-o-left mlx"></i>
                                  </button>
                                </li>                              
                              </ul>  
                              </form>

                          </div>
                          <div id="tab4-wizard-custom-circle" class="tab-pane fadeIn">
                            <div id="tab1-wizard-custom-circle" class="tab-pane active">
                              <h3 class="mbxl" style="font-size: 19px;margin-bottom: 10px !important;" ng-if="vm.novo">Confirmar requisição e finalizar</h3>
                              <h3 class="mbxl" style="font-size: 19px;margin-bottom: 10px !important;" ng-if="!vm.novo"></h3>
                              <form action="#"  name="vm.formquatro" class="form-horizontal">
                             
                                <div class="well" ng-if="vm.novo">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <address>
                                        <strong>Resumo da requisição:</strong>
                                        <br/>Cenário Climático: {{vm.requisicao.model.name}}
                                        <br/>Frequência: {{vm.requisicao.interval.name}}
                                        <br/>Localização: {{vm.requisicao.tipoConsulta.desc}}
                                        <span ng-if="vm.requisicao.tipoConsulta.val == 'CO'"><br/>Coordenadas: {{vm.requisicao.latitude}}, {{vm.requisicao.longitude}}</span>
                                        <span ng-if="vm.requisicao.tipoConsulta.val == 'CI'"><br/>Cidade: {{vm.requisicao.city.name}} ({{vm.requisicao.city.latitude}}, {{vm.requisicao.city.longitude}})</span>
                                        <br/>Variáveis: {{vm.getVariablesFinalizar()}}
                                        <br/>Período: {{vm.requisicao.start_month.month}}/{{vm.requisicao.start_year.year}} até {{vm.requisicao.end_month.month}}/{{vm.requisicao.end_year.year}}
                                        <br/>Utilização do dado: {{vm.requisicao.utilizacao}}
                                        <br/>Instituição: {{vm.requisicao.utilizacao}}
                                      </address>
                                    </div>
                                    <div class="col-md-6">
                                      <address>
                                        <strong>Dados pessoais:</strong>
                                        <br/>Nome: {{vm.requisicao.name}}
                                        <br/>E-mail: {{vm.requisicao.email}}               
                                      </address>
                                    </div>
                                    <div class="col-md-6">
                                      <address>
                                        <strong>Formato do arquivo dos dados:</strong>
                                        <br/>Arquivo: {{vm.requisicao.type.name}}
                                      </address>
                                    </div>                                    
                                  </div>
                                </div>  

                                <div id="tab4-wizard-custom-circle" class="tab-pane fadeIn" ng-if="!vm.novo">
                                  <h3 class="mbxl">Obrigado!</h3>
                                  <p></p><!--Sua requisição foi concluída com sucesso.-->
                                  <p>Prezado usuário, o e-mail com sua requisição será enviado após os dados serem processados, isto poderá levar alguns minutos.</p>
                                  <p></p>
                                  <p>CPTEC/INPE</p>
                                </div>                                 

                              <ul class="pager wizard">
                                <li class="next" ng-if="vm.novo">
                                  <button class="btn btn-info button-next mlm" style="float: right;" ng-click="vm.save()"> Concluir
                                    <i class="fa fa-check-circle-o mlx"></i>
                                  </button>
                                </li>
                                <li class="next" ng-if="!vm.novo">
                                  <button class="btn btn-info button-next mlm" style="float: right;" ng-click="vm.step('um')"> Nova requisição
                                    <i class="fa fa-plus-circle-o mlx"></i>
                                  </button>
                                </li>                                
                                <li class="previous" ng-if="vm.novo">
                                  <button class="btn btn-info button-previous mlm" ng-click="vm.step('tres')" style="float: right;"> Anterior
                                    <i class="fa fa-arrow-circle-o-left mlx"></i>
                                  </button>
                                </li>  
                              </ul>

                              </form>
                          </div>  

                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>                                                                                   
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>