<div class="col-xs-5 col-sm-5 col-md-5 lo-lg-5" style="padding-left: 5px; padding-right: 5px;">
  <div class="mui-textfield" style="width: 98.4%;">
      <ui-select ng-model="vm.requisicao.model" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required on-select="vm.onSelectCallback($item)">
        <ui-select-match placeholder="Selecione um cenário climático">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="model in vm.models.data | propsFilter: {name: $select.search}">
          <div ng-bind-html="model.name | highlight: $select.search"></div>                        
        </ui-select-choices>
      </ui-select>                  
    <label>Cenário Climático</label>
  </div>
</div>  

<div class="col-xs-2 col-sm-2 col-md-2 lo-lg-2" style="padding-left: 5px; padding-right: 5px;">
  <div class="mui-textfield">
      <ui-select ng-model="vm.requisicao.interval" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required>
        <ui-select-match placeholder="Selecione um intervalo">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="interval in vm.intervals.data | propsFilter: {name: $select.search}">
          <div ng-bind-html="interval.name | highlight: $select.search"></div>                        
        </ui-select-choices>
      </ui-select>                  
    <label>Frequência</label>
  </div>
</div> 

<div class="col-xs-3 col-sm-3 col-md-3 lo-lg-3" style="padding-left: 5px; padding-right: 5px;">
  <div class="mui-textfield">
    <ui-select ng-model="vm.requisicao.tipoConsulta" theme="select2" ng-disabled="disabled" style="min-width: 100%;" on-select="vm.ajustaMapa()" required>
      <ui-select-match placeholder="Selecione uma localização">{{$select.selected.desc}}</ui-select-match>
      <ui-select-choices repeat="tipo in vm.tipoConsultas">
        <div ng-bind-html="tipo.desc"></div>
      </ui-select-choices>
    </ui-select>               
    <span class="requerido">Este campo é obrigatório.</span>
    <label>Localização</label>
  </div>
</div>  

<div class="col-xs-3 col-sm-3 col-md-3 lo-lg-3" style="padding-left: 5px; padding-right: 5px;">
  <div class="mui-textfield">
      <ui-select ng-model="vm.requisicao.type" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required>
        <ui-select-match placeholder="Selecione um formato">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="type in vm.types.data | propsFilter: {name: $select.search}">
          <div ng-bind-html="type.name | highlight: $select.search"></div>                        
        </ui-select-choices>
      </ui-select>                  
    <label>Formato do arquivo dos dados</label>
  </div>
</div>          

