<div class="page-title-breadcrumb">
  <ol class="breadcrumb page-breadcrumb pull-left">
    <li><i class="fa fa-home"></i>&nbsp;<a href="/#/">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i></li>
    <li><a href="/#/">&nbsp;&nbsp;Por coordenada</a></li>
  </ol>
</div>

<div class="demo-form-component">
  <div class="row" style="margin: 0;">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
          <form role="form" name="form" class="form-horizontal form-seperated" novalidate>
            <div class="form-body">

              <div class="col-xs-2 col-sm-2 col-md-2 lo-lg-2" style="padding-left: 5px; padding-right: 5px;">
                <div class="mui-textfield">
                    <ui-select ng-model="vm.requisicao.model" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required>
                      <ui-select-match placeholder="Selecione um modelo">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="model in vm.models.data | propsFilter: {name: $select.search}">
                        <div ng-bind-html="model.name | highlight: $select.search"></div>                        
                      </ui-select-choices>
                    </ui-select>                  
                  <label>Modelo <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
                </div>
              </div>  


              <div class="col-xs-2 col-sm-2 col-md-2 lo-lg-2" style="padding-left: 5px; padding-right: 5px;">
                <div class="mui-textfield">
                    <ui-select ng-model="vm.requisicao.couple" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required>
                      <ui-select-match placeholder="Selecione um modelo acoplado">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="couple in vm.couples.data | propsFilter: {name: $select.search}">
                        <div ng-bind-html="couple.name | highlight: $select.search"></div>                        
                      </ui-select-choices>
                    </ui-select>                  
                  <label>Modelo acoplado <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
                </div>
              </div>   

              <div class="col-xs-2 col-sm-2 col-md-2 lo-lg-2" style="padding-left: 5px; padding-right: 5px;">
                <div class="mui-textfield">
                    <ui-select ng-model="vm.requisicao.scenario" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required>
                      <ui-select-match placeholder="Selecione um cenário">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="scenario in vm.scenarios.data | propsFilter: {name: $select.search}">
                        <div ng-bind-html="scenario.name | highlight: $select.search"></div>                        
                      </ui-select-choices>
                    </ui-select>                  
                  <label>Cenário <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
                </div>
              </div>  

              <div class="col-xs-2 col-sm-2 col-md-2 lo-lg-2" style="padding-left: 5px; padding-right: 5px;">
                <div class="mui-textfield">
                    <ui-select ng-model="vm.requisicao.resolution" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required>
                      <ui-select-match placeholder="Selecione uma resolução">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="resolution in vm.resolutions.data | propsFilter: {name: $select.search}">
                        <div ng-bind-html="resolution.name | highlight: $select.search"></div>                        
                      </ui-select-choices>
                    </ui-select>                  
                  <label>Resolução <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
                </div>
              </div> 

              <div class="col-xs-2 col-sm-2 col-md-2 lo-lg-2" style="padding-left: 5px; padding-right: 5px;">
                <div class="mui-textfield">
                    <ui-select ng-model="vm.requisicao.ensemble" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required>
                      <ui-select-match placeholder="Selecione um conjunto">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="ensemble in vm.ensembles.data | propsFilter: {name: $select.search}">
                        <div ng-bind-html="ensemble.name | highlight: $select.search"></div>                        
                      </ui-select-choices>
                    </ui-select>                  
                  <label>Conjuntos <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
                </div>
              </div>

              <div class="col-xs-2 col-sm-2 col-md-2 lo-lg-2" style="padding-left: 5px; padding-right: 5px;">
                <div class="mui-textfield">
                    <ui-select ng-model="vm.requisicao.interval" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required>
                      <ui-select-match placeholder="Selecione um intervalo">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="interval in vm.intervals.data | propsFilter: {name: $select.search}">
                        <div ng-bind-html="interval.name | highlight: $select.search"></div>                        
                      </ui-select-choices>
                    </ui-select>                  
                  <label>Intervalos <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
                </div>
              </div> 


              <div class="col-md-12">
                <div class="panel">
                  <div class="panel-heading">
                    <div class="caption">Dados da requisição</div>
                  </div>
                  <div class="panel-body">
                    <div id="viewcode-rootwizard-script" class="viewcode-example">
                      <div id="rootwizard" class="wizard-wrapper">
                        <div class="navbar">
                          <div class="navbar-inner">
                            <ul>
                              <li><a href="#tab1-wizard-custom-circle" data-toggle="tab"><i class="icon-speech"></i>
                                  <p><span>1º Passo</span>Período, variável e tipo</p></a></li>
                              <li><a href="#tab2-wizard-custom-circle" data-toggle="tab"><i class="icon-book-open"></i>
                                  <p><span>2º Passo</span>Visualização</p></a></li>
                              <li><a href="#tab3-wizard-custom-circle" data-toggle="tab"><i class="icon-list"></i>
                                  <p><span>3º Passo</span>Preenchimento dos dados</p></a></li>
                              <li><a href="#tab4-wizard-custom-circle" data-toggle="tab"><i class="icon-check"></i>
                                  <p><span>4º Passo</span>Conclusão</p></a></li>
                            </ul>
                          </div>
                        </div>
                        <div id="bar" class="progress active">
                          <div class="bar progress-bar progress-bar-success"></div>
                        </div>
                        <div class="tab-content" style="padding-top: 0px">
                          <div id="tab1-wizard-custom-circle" class="tab-pane">
                            <h3 class="mbxl">Escolha o período, variáveis e tipo da consulta</h3>
                            <form action="#" class="form-horizontal">

                              <div class="form-group">
                                <div class="col-xs-3 col-sm-3 col-md-3 lo-lg-3" style="padding-left: 5px; padding-right: 5px;">
                                  <cptec-date required type="text" name="inicio" label="Período Inicial" ng-model="vm.requisicao.inicio" class="required" is-required="true"/>                  
                                </div>

                                <div class="col-xs-3 col-sm-3 col-md-3 lo-lg-3" style="padding-left: 5px; padding-right: 5px;">
                                  <cptec-date required type="text" name="fim" label="Período Final" ng-model="vm.requisicao.fim" class="required" is-required="true"/>
                                </div> 
                              </div>
                              <div class="form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12 lo-lg-12" style="padding-left: 5px; padding-right: 5px;">
                                  <div class="mui-textfield">
                                    <ui-select multiple ng-model="vm.requisicao.variables" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required on-remove="ctrl.removed($item, $model)" close-on-select="false" required>
                                      <ui-select-match placeholder="Selecione as variáveis">{{$item.nickname}}</ui-select-match>
                                      <ui-select-choices repeat="variable in vm.variables.data | propsFilter: {nickname: $select.search, description: $select.search}">
                                      <div ng-bind-html="variable.nickname | highlight: $select.search"></div>
                                      <small>
                                        {{variable.nickname}}
                                        <span ng-bind-html="''+variable.description | highlight: $select.search"></span>
                                      </small>
                                      </ui-select-choices>
                                    </ui-select>
                                    <label>Variáveis <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
                                  </div>
                                </div>
                              </div>  

                            </form>
                          </div>
                          <div id="tab2-wizard-custom-circle" class="tab-pane">
                            <h3 class="mbxl">Delivery information</h3>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label for="inputStreet" class="control-label">Street <span class='require'>*</span></label>
                                  <input id="inputStreet" type="text" placeholder="" class="form-control"/><i class="alert alert-hide">Oops! Forgot something? Let try again.</i>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="inputFirstName" class="control-label">District</label>
                                  <input id="inputDistrict" type="text" placeholder="" class="form-control"/><i class="alert alert-hide">Oops! Forgot something? Let try again.</i>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="inputCity" class="control-label">City <span class='require'>*</span></label>
                                  <input id="inputCity" type="text" placeholder="" class="form-control"/><i class="alert alert-hide">Oops! Forgot something? Let try again.</i>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="inputPostCode" class="control-label">Post Code</label>
                                  <input id="inputPostCode" type="text" placeholder="" class="form-control"/><i class="alert alert-hide">Oops! Forgot something? Let try again.</i>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="selCountry" class="control-label">Country</label>
                                  <select id="selCountry" class="form-control">
                                    <option value="">Select a Country</option>
                                    <option value="">United States</option>
                                    <option value="">England</option>
                                    <option value="">France</option>
                                    <option value="">Spain</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="tab3-wizard-custom-circle" class="tab-pane fadeIn">
                            <h3 class="mbxl">Checking products</h3>
                            <form action="#" class="form-horizontal">
                              <div class="form-group">
                                <label for="inputUsername" class="col-md-2 control-label">Product 1:</label>
                                <div class="col-md-10">
                                  <input type="text" placeholder="Detail" class="inputUsername form-control"/>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="inputUsername" class="col-md-2 control-label">Product 2:</label>
                                <div class="col-md-10">
                                  <input type="text" placeholder="Detail" class="inputUsername form-control"/>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="inputUsername" class="col-md-2 control-label">Product 3:</label>
                                <div class="col-md-10">
                                  <input type="text" placeholder="Detail" class="inputUsername form-control"/>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="selCountry" class="col-md-2 control-label">Check out method</label>
                                <div class="col-lg-3 col-md-5">
                                  <select id="selCountry" class="form-control">
                                    <option value="">Cash</option>
                                    <option value="">Visa Card</option>
                                    <option value="">Credit Card</option>
                                  </select>
                                </div>
                              </div>
                            </form>
                          </div>
                          <div id="tab4-wizard-custom-circle" class="tab-pane fadeIn">
                            <h3 class="mbxl">Thank you!</h3>
                            <p>Congragulation! You have completed checkout steps.</p>
                            <p>Thank you for use our products.</p>
                          </div>
                          <ul class="pager wizard">
                            <li style="display: none;" class="previous first">
                              <button class="btn btn-info button-previous"><i class="fa fa-arrow-circle-o-left mr"></i>First</button>
                            </li>
                            <li class="previous">
                              <button class="btn btn-info button-previous"><i class="fa fa-arrow-circle-o-left mrx"></i>Anterior</button>
                            </li>
                            <li style="display: none;" class="next last">
                              <button class="btn btn-info button-next mlm">Último<i class="fa fa-arrow-circle-o-right mlx"></i></button>
                            </li>
                            <li class="next">
                              <button class="btn btn-info button-next mlm">Próximo<i class="fa fa-arrow-circle-o-right mlx"></i></button>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>                                                                                   
              </div>
            </div>
          </form> 
        </div>
      </div>
    </div>
  </div>
</div>