<div ng-if="vm.requisicao.tipoConsulta.val == 'CO'">
  <div class="col-xs-3 col-sm-3 col-md-3 lo-lg-3" style="padding-left: 5px; padding-right: 5px;">
    <div class="mui-textfield">
      <input style="height: 32px;" type="text" id="latitude" name="latitude" ng-model="vm.requisicao.latitude" ng-required="true" placeholder="-12.40">
      <span class="requerido">Este campo é obrigatório.</span>
      <label>Latitude</label>
    </div>
  </div>

  <div class="col-xs-3 col-sm-3 col-md-3 lo-lg-3" style="padding-left: 5px; padding-right: 5px;">
    <div class="mui-textfield">
      <input style="height: 32px;" type="text" id="longitude" name="longitude" ng-model="vm.requisicao.longitude" ng-required="true" placeholder="-49.80">
      <span class="requerido">Este campo é obrigatório.</span>
      <label>Longitude</label>
    </div>
  </div>                            
</div> 

<div ng-if="vm.requisicao.tipoConsulta.val == 'CI'">
  <div class="col-xs-6 col-sm-6 col-md-6 lo-lg-6" style="padding-left: 5px; padding-right: 32px;">
    <div class="mui-textfield">
        <ui-select ng-model="vm.requisicao.city" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required>
          <ui-select-match placeholder="Selecione uma cidade">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="city in vm.cities.data | propsFilter: {name: $select.search}" refresh="vm.loadCities($select.search)" refresh-delay="1000">
            <div ng-bind-html="city.name | highlight: $select.search"></div>
            <small>{{city.state.name}}</small>                        
          </ui-select-choices>
        </ui-select>
        <span class="requerido">Este campo é obrigatório.</span>
      <label>Cidade</label>
    </div>
  </div>
</div>  

<div ng-if="vm.requisicao.tipoConsulta.val == 'DE'">
  <div class="col-xs-2 col-sm-2 col-md-2 lo-lg-2" style="padding-right: 15px;margin-left: -20px">
    <div class="mui-textfield">
        <button class="btn btn-primary mlm" style="margin-top: -2px; width: 100%" ng-click="vm.openModalMap()"> Mapa
          <i class="fa fa-map-o mlx"></i>
        </button>
    </div>  
  </div>
</div>  


<div ng-if="vm.requisicao.tipoConsulta.val == 'DE'">
  <div class="col-xs-1 col-sm-1 col-md-1 lo-lg-1" style="padding-left: 5px; padding-right: 5px;width: 8.7%">
    <div class="mui-textfield">
      <input style="height: 32px;" type="text" id="latitudeCima" name="latitudeCima" ng-model="vm.latitudeCima" ng-focus="vm.focusCoordinates()" required/>
      <span class="requerido">Este campo é obrigatório.</span>
      <label>Latitude norte</label>
    </div>  
  </div>
</div>  

<div ng-if="vm.requisicao.tipoConsulta.val == 'DE'">
  <div class="col-xs-1 col-sm-1 col-md-1 lo-lg-1" style="padding-left: 5px; padding-right: 5px;width: 8.6%">
    <div class="mui-textfield">
      <input style="height: 32px;" type="text" id="latitudeBaixo" name="latitudeBaixo" ng-model="vm.latitudeBaixo" ng-focus="vm.focusCoordinates()" required/>
      <span class="requerido">Este campo é obrigatório.</span>
      <label>Latitude sul</label>
    </div>  
  </div>
</div> 

<div ng-if="vm.requisicao.tipoConsulta.val == 'DE'">
  <div class="col-xs-1 col-sm-1 col-md-1 lo-lg-1" style="padding-left: 5px; padding-right: 5px;width: 8.6%">
    <div class="mui-textfield">
      <input style="height: 32px;" type="text" id="longitudeEsquerda" name="longitudeEsquerda" ng-model="vm.longitudeEsquerda" ng-focus="vm.focusCoordinates()" required/>
      <span class="requerido">Este campo é obrigatório.</span>
      <label>Longitude oeste</label>
    </div>  
  </div>
</div>

<div ng-if="vm.requisicao.tipoConsulta.val == 'DE'">
  <div class="col-xs-1 col-sm-1 col-md-1 lo-lg-1" style="padding-left: 5px; padding-right: 5px;width: 8.6%">
    <div class="mui-textfield">
      <input style="height: 32px;" type="text" id="longitudeDireita" name="longitudeDireita" ng-model="vm.longitudeDireita" ng-focus="vm.focusCoordinates()" required/>
      <span class="requerido">Este campo é obrigatório.</span>
      <label>Longitude leste</label>
    </div>  
  </div>
</div> 


