<div class="col-xs-2 col-sm-2 col-md-2 lo-lg-2" style="padding-left: 5px; padding-right: 5px;">
  <div class="mui-textfield">
    <ui-select ng-model="vm.requisicao.start_month" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required>
      <ui-select-match placeholder="Selecione o mês inicial">{{$select.selected.nome}}</ui-select-match>
      <ui-select-choices repeat="month in vm.months.data">
        <div ng-bind-html="month.nome"></div>
      </ui-select-choices>
    </ui-select>               
    <span class="requerido">Este campo é obrigatório.</span>
    <label>Mês Inicial</label>
  </div>               
</div>
<div class="col-xs-1 col-sm-1 col-md-1 lo-lg-1" style="padding-left: 5px; padding-right: 5px;">
  <div class="mui-textfield">
    <ui-select ng-model="vm.requisicao.start_year" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required>
      <ui-select-match placeholder="Selecione o ano inicial">{{$select.selected.year}}</ui-select-match>
      <ui-select-choices repeat="year in vm.years">
        <div ng-bind-html="year.year"></div>
      </ui-select-choices>
    </ui-select>               
    <span class="requerido">Este campo é obrigatório.</span>
    <label>Ano Inicial</label>
  </div>               
</div>                                

<div class="col-xs-2 col-sm-2 col-md-2 lo-lg-2" style="padding-left: 5px; padding-right: 5px;">
  <div class="mui-textfield">
    <ui-select ng-model="vm.requisicao.end_month" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required>
      <ui-select-match placeholder="Selecione o mês final">{{$select.selected.nome}}</ui-select-match>
      <ui-select-choices repeat="month in vm.months.data">
        <div ng-bind-html="month.nome"></div>
      </ui-select-choices>
    </ui-select>               
    <span class="requerido">Este campo é obrigatório.</span>
    <label>Mês Final</label>
  </div>               
</div>
<div class="col-xs-1 col-sm-1 col-md-1 lo-lg-1" style="padding-left: 5px; padding-right: 5px;">
  <div class="mui-textfield">
    <ui-select ng-model="vm.requisicao.end_year" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required>
      <ui-select-match placeholder="Selecione o ano final">{{$select.selected.year}}</ui-select-match>
      <ui-select-choices repeat="year in vm.years">
        <div ng-bind-html="year.year"></div>
      </ui-select-choices>
    </ui-select>               
    <span class="requerido">Este campo é obrigatório.</span>
    <label>Ano Final</label>
  </div>               
</div> 