.page-title-breadcrumb {
    height: 35px;
}
.page-title-breadcrumb .breadcrumb {
    padding-top: 0;
}
.page-content > .box-content { 
    min-height: 200px;
}
.pagina-content {
    padding: 0 !important;
}
.container-pagina {
    padding: 25px;
}
html, body, body>.container-principal {
    height: 100%
}
#wrapper {
    height: calc(100% - 101px);
    min-height: calc(100% - 101px);
}
#page-wrapper, #page-wrapper>div {
    height: 100%;
}
.page-content > .box-content {
    min-height: calc(100% - 31px);
    height: calc(100% - 31px);
}