<div class="page-title-breadcrumb">
  <ol class="breadcrumb page-breadcrumb pull-left">
    <li><i class="fa fa-home"></i>&nbsp;<a href="/#/">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i></li>
    <li><a href="/#/">&nbsp;&nbsp;Formatação do dado</a></li>
  </ol>
</div>

<div class="demo-form-component">
  <div class="row" style="margin: 0;">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body" style="padding-top: 0px">
          <form role="form" name="form" class="form-horizontal form-seperated" novalidate>
            <div class="panel-body">
              <p class="lead">Formatação dos arquivos CSV utilizando a ferramenta R.</p>
              
              <p style="text-align: justify;">Primeiramente deve-se instalar o software R acessando o link: <a ng-click="vm.link('https://www.r-project.org')" href="https://www.r-project.org" target="_blank">https://www.r-project.org</a></p>

              <p style="text-align: justify;">Posteriormente instalar o Rstudio no link:<a ng-click="vm.link('https://www.rstudio.com/')" href="https://www.rstudio.com/" target="_blank">https://www.rstudio.com/</a></p>

              <p style="text-align: justify;">O arquivo em R pode ser baixado no link: <a ng-click="vm.download()" class="btn btn-success">converte_csv.R</a></p>
              

              <p style="text-align: justify;">Abrir o arquivo R utilizando o Rstudio e localizar a seguinte linha de comando:</p>

              <p style="text-align: justify;"><strong>setwd("C:/Users/Usuário/Desktop")</strong></p>

              <p style="text-align: justify;">Nela deverá ser colocado o caminho onde está o arquivo CSV original.</p>
              
              <p style="text-align: justify;">Para rodar no Windows para digitar <strong>"Rscript converte_csv.R nome_do_arquivo_sem_a_extensão_csv"</strong></p>

              <p style="text-align: justify;">Exemplo: <strong>Rscript converte_csv.R Requisicao_558</strong></p>              

              <p style="text-align: justify;">No Linux deve-se deixar o script como executável e digitar <strong>"./converte_csv.R nome_do_arquivo_sem_a_extensão_csv"</strong></p>

              <p style="text-align: justify;">Exemplo: <strong>Rscript converte_csv.R Requisicao_558</strong></p>               


            </div>

            </div>
          </form> 
        </div>
      </div>      
      <!--<div class="panel">
        <div ng-generaltab="" class="row">
          <div class="col-md-12" style="margin-top: 10px;">
            <div id="accordion" class="panel-group accordion">
              <div class="panel">
                <div class="panel-heading">
                  <h5 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="accordion-toggle"><i class="icon-arrow"></i>Exemplo 1?</a></h5>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-heading">
                  <h5 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="accordion-toggle collapsed"><i class="icon-arrow"></i>Exemplo 2?</a></h5>
                </div>
                <div id="collapseTwo" style="height: 0px;" class="panel-collapse collapse">
                  <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-heading">
                  <h5 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="accordion-toggle collapsed"><i class="icon-arrow"></i>Exemplo 3?</a></h5>
                </div>
                <div id="collapseThree" style="height: 0px;" class="panel-collapse collapse">
                  <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
  </div>
</div>