<meta charset="utf-8">
<div class="container-fluid row">
  <div>
    <div class="col-xs-12">
      <div class="panel panel-default"
        style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
        <div class="panel-heading">
          <h2 class="ng-binding">{{vm.title}}</h2>
          <div class="panel-ctrls"></div>
        </div>
        <div class="panel-body">
          
      <form role="form" name="form">
        <div class="row" ng-class="{'has-error': form.name.$invalid && !form.name.$pristine}">
          <div class="col-md-1">
            <div class="pull-right">
      			<label for="nomeInput">Nome</label>
      			<i class="fa fa-asterisk" style="color:red; font-size:8px;"></i> 			
            </div>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control error" id="nomeInput" name="name" ng-model="vm.countries.name" required focus>
          </div>
        </div>

      <form role="form" name="form">
        <div class="row" ng-class="{'has-error': form.abbreviation.$invalid && !form.abbreviation.$pristine}">
          <div class="col-md-1">
            <div class="pull-right">
            <label for="abbreviationInput">Abreviação</label>
            <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i>      
            </div>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control error" id="abbreviationInput" name="abbreviation" ng-model="vm.countries.abbreviation" required focus>
          </div>
        </div>        
        
        <div class="row" ng-hide="showConfirm" style="margin-bottom: 15px;">&nbsp;</div>

        <div class="row" ng-hide="vm.showConfirm">
          <div class="col-md-5">
            <a ui-sref="countries" class="btn">Cancelar</a>
            <button ng-click="vm.save()"
              ng-disabled="isClean() || form.$invalid"
              class="btn btn-primary">Salvar</button>
            <button ng-click="vm.remove()" ng-show="vm.countries.id"
              class="btn btn-danger">Deletar</button>
          </div>
        </div>


        <div class="bs-callout bs-callout-danger" ng-show="vm.showConfirm">
          <h4>Confirmação</h4>
          <p>
            Deletar <code>{{vm.countries.name}}</code> ?
          </p>
          <button ng-click="vm.delete(vm.countries.id)" class="btn btn-danger">Deletar</button>
          <button ng-click="vm.cancelRemove()" class="btn btn-default">Cancelar</button>
        </div>

      </form>

        </div>
      </div>
    </div>
  </div>

</div>
</div>