<div id="footer" style="background-color: white;">
	<div style="position: fixed; bottom: 0; height: 40px; background-color: white; width: 100%;left: 251px;">
    <div style="background-color: white;position: fixed; bottom: 0;">

		<div style="margin: 5px;float: left;">
			<a ng-click="vm.link('https://www.giz.de/en/html/index.html')" href="https://www.giz.de/en/html/index.html" target="_blank"><img style="margin: auto;display:block;width: auto;height: 25px;" src="assets/images/giz2.jpg" width="110" height="30"/></a>		  
		</div>    	

		<div style="margin: 5px;float: left;">
			<a href="http://www.inpe.br/" target="_blank" ng-click="vm.link('http://www.inpe.br/')">
				<img style="margin: auto;display:block;width: auto;height: 25px;" src="assets/images/inpe.jpg"/>
			</a>		  
		</div> 

		<div style="margin: 5px;float: left;">
			<a ng-click="vm.link('http://www.upf.br/')" href="http://www.upf.br/" target="_blank">
				<img style="margin: auto;display:block;width: auto;height: 25px;" src="assets/images/upf.png"/>
			</a>		  
		</div> 

		<div style="margin: 5px;float: left;">
			<a ng-click="vm.link('http://www.cgpdi.org.br/')" href="http://www.cgpdi.org.br/" target="_blank"><img style="margin: auto;display:block;width: auto;height: 25px;" src="assets/images/cgpdi.png" width="50" height="30"/></a>		  
		</div>

		<div style="margin: 5px;float: left;">
			<a ng-click="vm.link('http://www2.ana.gov.br/Paginas/default.aspx')" href="http://www2.ana.gov.br/Paginas/default.aspx" target="_blank"><img style="margin: auto;display:block;width: auto;height: 25px;" src="assets/images/ana.png" width="50" height="30"/></a>	  
		</div>

		<div style="margin: 5px;float: left;">
			<a ng-click="vm.link('http://cnpq.br/')" href="http://cnpq.br/" target="_blank"><img style="margin: auto;display:block;width: auto;height: 25px;" src="assets/images/cnpq.jpg" width="50" height="30"/></a>	  
		</div>	
		
		<div style="margin: 5px;float: left;">
			<a ng-click="vm.link('http://www.br.undp.org/')" href="http://www.br.undp.org/" target="_blank"><img style="margin: auto;display:block;width: auto;height: 25px;" src="assets/images/undp.png" width="50" height="60"/></a>	  
		</div>

		<div style="margin: 5px;float: left;">
			<a ng-click="vm.link('http://www.mma.gov.br/')" href="http://www.mma.gov.br/" target="_blank"><img style="margin: auto;display:block;width: auto;height: 20px;" src="assets/images/logo-mma.jpg" width="55" height="30"/></a>	  
		</div>


		<div style="margin: 5px;float: left;">
			<a ng-click="vm.link('http://www.secretariageral.gov.br/')" href="http://www.secretariageral.gov.br/" target="_blank">
				<img style="margin: auto;display:block;width: auto;height: 25px;" src="assets/images/brazil.jpg" width="80" height="30"/></a>	  
		</div>													 		   	

		<div style="margin: 5px;float: left;">
			<a ng-click="vm.link('http://www.mctic.gov.br/portal')" href="http://www.mctic.gov.br/portal" target="_blank">
				<img style="margin: auto;display:block;width: auto;height: 25px;" src="assets/images/mctilogo.jpg" width="120" height="30"/></a>	  
		</div>	
        
    </div>



  	<div class="pull-right" style="position: fixed;bottom: 0;margin-right: 5px;font-size: 9.5px; text-align: right; right: 0; color: #646464;"> Os dados disponibilizados por esta plataforma não podem <br>ser usados para propósitos comerciais.Em nenhum caso, o CPTEC/INPE pode ser <br>responsabilizado por danos decorrentes do uso destes dados.
  	</div>
  </div>
</div>
