<div class="sidebar-collapse sidebar-scroll">
  <ul id="sidebar-main" ng-menu="" class="nav">
    <li class="sidebar-hide">
      <h4 class="sidebar-title-section">Menu principal</h4>
    </li>
    <li style="cursor: pointer;"><a><i class="icon-screen-desktop"></i><span class="menu-title">Manutenções</span><span class="arrow"></span></a>
      <ul class="nav nav-second-level">
        <li ui-sref-active="active"><a ui-sref="home.requests.list"><i class="icon-book-open"></i><span class="menu-title">Requisições</span></a>
        </li>                
      </ul>
    </li>


    <li><a href="javascript:void(0);"><i class="icon-list"></i><span class="menu-title">Cadastros</span><span class="arrow"></span></a>
      <ul class="nav nav-second-level">
        <li ui-sref-active="active"><a ui-sref="home.models.list"><i class="icon-docs"></i><span class="menu-title">Modelos</span></a></li>
        <li ui-sref-active="active"><a ui-sref="home.frequencies.list"><i class="icon-notebook"></i><span class="menu-title">Frequências</span></a></li> 
        <li ui-sref-active="active"><a ui-sref="home.variables.list"><i class="icon-layers"></i><span class="menu-title">Variáveis</span></a></li>
        <li ui-sref-active="active"><a ui-sref="home.modelfreqs.list"><i class="icon-layers"></i><span class="menu-title">Modelos/Frequências</span></a></li>        
        <li ui-sref-active="active"><a ui-sref="home.types.list"><i class="icon-share-alt"></i><span class="menu-title">Tipos de Saída</span></a></li>
        <li ui-sref-active="active"><a ui-sref="home.users.list"><i class="icon-user"></i><span class="menu-title">Usuários</span></a></li>        
        <li ui-sref-active="active"><a ui-sref="home.cities.list"><i class="icon-book-open"></i><span class="menu-title">Municípios</span></a></li>
        <li ui-sref-active="active"><a ui-sref="home.states.list"><i class="icon-speech"></i><span class="menu-title">Estados</span></a></li>
        <li ui-sref-active="active"><a ui-sref="home.countries.list"><i class="icon-direction"></i><span class="menu-title">Países</span></a></li>
      </ul>
    </li>

    <!--<li><a href="javascript:void(0);"><i class="icon-grid"></i><span class="menu-title">Modelos</span><span class="arrow"></span></a>
      <ul class="nav nav-second-level">
        <li ui-sref-active="active"><a ui-sref="home.models.list"><i class="icon-docs"></i><span class="menu-title">Modelos</span></a></li>
        <li ui-sref-active="active"><a ui-sref="home.couples.list"><i class="icon-grid"></i><span class="menu-title">Modelos acoplados</span></a></li>
        <li ui-sref-active="active"><a ui-sref="home.scenarios.list"><i class="icon-equalizer"></i><span class="menu-title">Cenários</span></a></li>
        <li ui-sref-active="active"><a ui-sref="home.resolutions.list"><i class="icon-map"></i><span class="menu-title">Resoluções</span></a></li>
        <li ui-sref-active="active"><a ui-sref="home.ensembles.list"><i class="icon-vector"></i><span class="menu-title">Conjuntos</span></a></li>
        <li ui-sref-active="active"><a ui-sref="home.intervals.list"><i class="icon-notebook"></i><span class="menu-title">Frequências</span></a></li>          
      </ul>-->

      <li ui-sref-active="active"><a ui-sref="home.configurations.list"><i class="icon-settings"></i><span class="menu-title">Configuração</span></a></li>
    </li>      

  </ul>
</div>