<div class="sidebar-collapse sidebar-scroll">
  <ul id="sidebar-main" ng-menu="" class="nav">
    <li class="sidebar-hide">
      <h4 class="sidebar-title-section">Menu principal</h4>
    </li>
    <li><a><i class="icon-book-open"></i><span class="menu-title">Requisições</span><span class="arrow"></span></a>
      <ul class="nav nav-second-level">
        <li><a ui-sref="pagina.dashboard"><i class="icon-docs"></i><span class="submenu-title">Dashboard</span></a></li>
        <li><a ui-sref="pagina.visualization"><i class="icon-map"></i><span class="submenu-title">Visualização</span></a></li>
        <!--<li><a ui-sref="pagina.city"><span class="submenu-title">Por cidade</span></a></li>
        <li><a ui-sref="pagina.map"><span class="submenu-title">Desenho no mapa</span></a></li>
        <li><a ui-sref="pagina.marker"><span class="submenu-title">Marcador no mapa</span></a></li>-->
      </ul>
    </li>

    <li><a href="javascript:void(1);"><i class="icon-user"></i><span class="menu-title">Área administrativa</span><span class="arrow"></span></a>
      <ul class="nav nav-second-level">
        <li><a ui-sref="login"><i class="icon-login"></i><span class="submenu-title">Login</span></a></li>
      </ul>
    </li>    

    <li><a href="javascript:void(1);"><i class="icon-info"></i><span class="menu-title">Sobre</span><span class="arrow"></span></a>
      <ul class="nav nav-second-level">
        <li><a ui-sref="pagina.about"><i class="icon-envelope-open"></i><span class="submenu-title">About</span></a></li>
      </ul>
    </li>  


  </ul>
</div>