<div class="sidebar-collapse sidebar-scroll">
  <ul id="sidebar-main" ng-menu="" class="nav">
    <li class="sidebar-hide">
      <h4 class="sidebar-title-section">Menu principal</h4>
    </li>
    
    <!--<li><a><i class="icon-book-open"></i><span class="menu-title">Requisições</span><span class="arrow"></span></a>
      <ul class="nav nav-second-level">
        <li><a ui-sref="pagina.dashboard"><i class="icon-docs"></i><span class="submenu-title">Dashboard</span></a></li>
        <li><a ui-sref="pagina.visualization"><i class="icon-map"></i><span class="submenu-title">Visualização</span></a></li>
      </ul>
    </li>-->


    <li ui-sref-active="active"><a ui-sref="pagina.dashboard"><i class="icon-docs"></i><span class="submenu-title">Requisições</span></a></li>
    <!--<li><a ui-sref="pagina.visualization"><i class="icon-map"></i><span class="submenu-title">Visualização</span></a></li>-->

    <li><a href="javascript:void(1);"><i class="icon-user"></i><span class="menu-title">Uso interno</span><span class="arrow"></span></a>
      <ul class="nav nav-second-level">
        <li><a ui-sref="login"><i class="icon-login"></i><span class="submenu-title">Login</span></a></li>
      </ul>
    </li>    
    <li><a ui-sref="pagina.api"><i class="icon-share"></i><span class="submenu-title">API</span></a></a></li>
    <li><a ui-sref="pagina.tutorial"><i class="icon-doc"></i><span class="submenu-title">Tutorial</span></a></a></li>
    <li><a ui-sref="pagina.contact"><i class="icon-info"></i><span class="submenu-title">Contato</span></a></a></li>
    <li><a ui-sref="pagina.about"><i class="icon-envelope-open"></i><span class="submenu-title">Sobre</span></a></a></li>

  </ul>
</div>