<nav id="topbar" role="navigation" class="navbar navbar-default container pln prn">
  <div class="container-fluid pln prn">
    <div id="topbar-menu" class="navbar-collapse pln prn">
      <ul class="nav navbar-nav logo-wrapper">
        <!--<li class="btn-menu-toggle">
          <div id="menu-toggle" class="show-collapsed"><i class="fa fa-bars"></i></div>
        </li>-->
        <li class="pull-left">
          <a id="logo" ui-sref="pagina.dashboard" class="pan">
          <!--Projeções climáticas regionalizadas pelo Modelo Eta para  América do Sul-->
            <img src="assets/images/logo.png" 
              style="width: 600px;height:55px;margin-top:2px;margin-left: 12px;" />
          </a>
        </li>
      </ul>
      <!--user-->      
      <ul class="nav navbar-nav navbar-right" ng-if="isLogged()">
        <li class="dropdown">
        <a data-toggle="dropdown" href="#" class="dropdown-toggle"><i class="icon-user"></i>&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-user pull-right">
            <li>
              <div class="navbar-content">
                <div class="row">
                  <div class="col-md-12 col-xs-12">
                    <span>{{usuario.name}}</span>
                    <p class="text-muted small">{{usuario.username}}</p>
                  </div>
                </div>
              </div>
              <div class="navbar-footer">
                <div class="navbar-footer-content">
                  <div class="row">
                    <div class="col-md-6 col-xs-6"><a href="#" ng-if="false">
                        <button class="btn btn-default btn-sm">Alterar senha</button></a>
                    </div>
                    <div class="col-md-6 col-xs-6"><a href="#">
                        <button ng-click="logout()" class="btn btn-info btn-sm pull-right">Sair</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>