<div class="page-title-breadcrumb">
  <ol class="breadcrumb page-breadcrumb pull-left">
    <li><i class="fa fa-home"></i>&nbsp;<a href="/#/">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i></li>
    <li><a href="/#/">&nbsp;&nbsp;Sobre</a></li>
  </ol>
</div>

<div class="demo-form-component">
  <div class="row" style="margin: 0;">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
          <form role="form" name="form" class="form-horizontal form-seperated" novalidate>
            <div class="panel-body">
              <p class="lead">Desenvolvimento de ferramenta para acesso aos cenários de mudanças do clima regionalizados para o Brasil</p>
              <p class="lead">Programa Políticas sobre Mudança do Clima - PoMuC (Componente Adaptação)</p>
              <p><strong>Descrição:</strong> O presente trabalho foi desenvolvido no âmbito do Programa Políticas sobre Mudança do Clima -PoMuC, uma realização do governo brasileiro, coordenada pelo Ministério do Meio Ambiente (MMA), no contexto da Cooperação para o Desenvolvimento Sustentável Brasil-Alemanha, no âmbito da Iniciativa Internacional de Proteção do Clima (IKI) do Ministério Federal do Meio Ambiente, Proteção da Natureza, Construção e Segurança Nuclear (BMUB) da Alemanha. O projeto conta com apoio técnico da Deutsche Gesellschaft für Internationale Zusammenarbeit (GIZ) GmbH.
              </p>
              <p><strong>Equipe:</strong> CPTEC/INPE e UPF.</p>
            </div>
              
            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="caption">CPTEC/INPE - Centro de Previsão de Tempo e Estudos Climáticos</div>
                </div>
                <div class="panel-body">
                  <img style="margin: auto;display:block" src="assets/images/cptec.png" width="auto" height="90px"/>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="caption">Ministério do Meio Ambiente - Governo Federal</div>
                </div>
                <div class="panel-body">
                  <img style="margin: auto;display:block" src="assets/images/meioambiente.png" width="auto" height="100px"/>
                </div>
              </div>
            </div> 

            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="caption">Giz - Deutsche Gesellschaft für Internationale Zusammenarbeit</div>
                </div>
                <div class="panel-body">
                  <img style="margin: auto;display:block" src="assets/images/giz.png" width="auto" height="100px"/>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="caption">UPF - Universidade de Passo Fundo</div>
                </div>
                <div class="panel-body">
                  <img style="margin: auto;display:block" src="assets/images/upf.png" width="auto" height="100px"/>
                </div>
              </div>
            </div>

            </div>
          </form> 
        </div>
      </div>
    </div>
  </div>
</div>