<div class="page-title-breadcrumb">
  <ol class="breadcrumb page-breadcrumb pull-left">
    <li><i class="fa fa-home"></i>&nbsp;<a href="/#/">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i></li>
    <li><a href="/#/">&nbsp;&nbsp;Sobre</a></li>
  </ol>
</div>

<div class="demo-form-component">
  <div class="row" style="margin: 0;">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body" style="padding-top: 0px">
          <form role="form" name="form" class="form-horizontal form-seperated" novalidate>
            <div class="panel-body">
              <p class="lead">Desenvolvimento de ferramenta para acesso aos cenários de mudanças do clima regionalizados para o Brasil</p>
              <p class="lead" style="padding-top: -0px;">Programa Políticas sobre Mudança do Clima - PoMuC (Componente Adaptação)</p>
              <p style="text-align: justify;"><strong>Descrição:</strong> O presente trabalho foi desenvolvido no âmbito do Programa Políticas sobre Mudança do Clima -PoMuC, uma realização do governo brasileiro, coordenada pelo Ministério do Meio Ambiente (MMA), no contexto da Cooperação para o Desenvolvimento Sustentável Brasil-Alemanha, no âmbito da Iniciativa Internacional de Proteção do Clima (IKI) do Ministério Federal do Meio Ambiente, Proteção da Natureza, Construção e Segurança Nuclear (BMUB) da Alemanha. O projeto conta com apoio técnico da Deutsche Gesellschaft für Internationale Zusammenarbeit (GIZ) GmbH.
              </p>
              <p style="text-align: justify;">Atualmente, o processo de tratamento e da conversão dos dados climáticos – que permite a compatibilização com os programas ou plataformas que realizam as análises setoriais –, vem sendo feito de forma manual, gerando um trabalho árduo e sujeito a erros.</p>
              <p style="text-align: justify;">Neste contexto, para permitir o acesso amplo e irrestrito dos diversos parâmetros disponíveis para diferentes usuários, de forma flexível quanto ao formato, volume de dados, facilidade de uso destes dados, faz-se necessário desenvolver uma ferramenta para automatizar o processo de requisição e de elaboração do banco de dados que atenda a necessidade do usuário setorial. Novas projeções utilizando diferentes modelos climáticos globais estão sendo geradas e devem ser disponibilizadas através da ferramenta.</p>
              <p style="text-align: justify;">A criação desta plataforma tem como premissa automatizar o processo de extração, visualização e disponibilização dos dados de simulações regionalizadas das projeções climáticas para Brasil, gerados pelo CPTEC/INPE, integrando tecnologias que possibilitarão o acesso dos dados e disponibilização dos mesmos.</p>
              <p><strong>Equipe desenvolvedora:</strong> CPTEC/INPE e UPF.</p>
              <p><strong>Equipe de apoio:</strong> SMCF/MMA e GIZ.</p>
            </div>
              
            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-body">
                  <a href="http://www.inpe.br/" target="_blank" ng-click="vm.link('http://www.inpe.br/')"><img style="margin: auto;display:block" src="assets/images/inpe.jpg" width="auto" height="95px"/></a>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-body">
                  <a ng-click="vm.link('http://www.upf.br/')" href="http://www.upf.br/" target="_blank"><img style="margin: auto;display:block" src="assets/images/upf.png" width="auto" height="100px"/></a>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-body">
                  <a ng-click="vm.link('http://www.cgpdi.org.br/')" href="http://www.cgpdi.org.br/" target="_blank"><img style="margin: auto;display:block" src="assets/images/cgpdi.png" width="auto" height="100px"/></a>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-body">
                  <a ng-click="vm.link('https://www.giz.de/en/html/index.html')" href="https://www.giz.de/en/html/index.html" target="_blank"><img style="margin: auto;display:block" src="assets/images/giz.jpg" width="auto" height="100px"/></a>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-body">
                  <a ng-click="vm.link('http://www2.ana.gov.br/Paginas/default.aspx')" href="http://www2.ana.gov.br/Paginas/default.aspx" target="_blank"><img style="margin: auto;display:block" src="assets/images/ana.png" width="auto" height="100px"/></a>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-body">
                  <a ng-click="vm.link('http://cnpq.br/')" href="http://cnpq.br/" target="_blank"><img style="margin: auto;display:block" src="assets/images/cnpq.jpg" width="180px" height="100x"/></a>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="panel panel-default">
                <div class="panel-body">
                  <a ng-click="vm.link('http://www.br.undp.org/')" href="http://www.br.undp.org/" target="_blank"><img style="margin: auto;display:block" src="assets/images/undp.png" width="auto" height="100px"/></a>
                </div>
              </div>
            </div>


            <div class="col-md-4" style="width: 260px;">
              <div class="panel panel-default">
                <div class="panel-body">
                  <a ng-click="vm.link('http://www.mma.gov.br/')" href="http://www.mma.gov.br/" target="_blank"><img style="margin: auto;display:block" src="assets/images/logo-mma.jpg" width="250px" height="100px"/></a>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-body">
                  <a ng-click="vm.link('http://www.secretariageral.gov.br/')" href="http://www.secretariageral.gov.br/" target="_blank"><img style="margin: auto;display:block" src="assets/images/brazil.jpg" width="300px" height="100px"/></a>
                </div>
              </div>
            </div>  

            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-body">
                  <a ng-click="vm.link('http://www.mctic.gov.br/portal')" href="http://www.mctic.gov.br/portal" target="_blank"><img style="margin: auto;display:block" src="assets/images/mctilogo.jpg" width="340px" height="100px"/></a>
                </div>
              </div>
            </div>                       


            

            </div>
          </form> 
        </div>
      </div>
    </div>
  </div>
</div>