<div class="page-title-breadcrumb">
  <ol class="breadcrumb page-breadcrumb pull-left">
    <li><i class="fa fa-home"></i>&nbsp;<a href="/#/">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i></li>
    <li><a href="/#/">&nbsp;&nbsp;Sobre</a></li>
  </ol>
</div>

<div class="demo-form-component">
  <div class="row" style="margin: 0;">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
          <form role="form" name="form" class="form-horizontal form-seperated" novalidate>

            <div class="panel-body">
              <p class="lead">Projeções das mudanças climáticas para estudos de impactos sobre a disponibilidade hídrica no país com implicações na segurança alimentar e energética</p>
              <p><strong>Descrição:</strong>Este projeto tem por objetivo gerar projeções de mudanças climáticas regionalizadas e avaliar os impactos sobre a disponibilidade hídrica no país, em diferentes cenários de emissão, em alta resolução espacial, com implicações na segurança alimentar e energética.
              </p>
              <p><strong>Natureza:</strong> Pesquisa.</p>
              <p><strong>Situação:</strong> Em andamento.</p>
            </div>


              
            </div>
          </form> 
        </div>
      </div>
    </div>
  </div>
</div>