 <div class="page-form">
    <form class="form" ng-enter="vm.authenticate()">
        <div class="header-content text-center"><h1>CPTEC - acesso restrito</h1></div>
        <div class="body-content">
            <div role="alert" class="alert alert-danger alert-dismissible alert-custom hide">
                <button type="button" data-dismiss="alert" class="close"><span>&times;</span></button>                
            </div>
            <div class="list-group">
                <div class="list-group-item"><input ng-keydown="vm.keyPress($event)" type="text" placeholder="E-mail" data-parsley-minlength="6" required ng-model="vm.username" focus class="form-control"></div>
                <div class="list-group-item"><input ng-keydown="vm.keyPress($event)" type="password" id="exampleInputPassword1" placeholder="Senha" ng-model="vm.password" class="form-control"></div>
            </div>										
            <div class="form-group pull-left" ng-if="false">
            	<label><input type="checkbox" class="form-control-shadow">&nbsp;Remember me</label>
            </div>
            <div class="form-group pull-right"><a href="#" class="btn-link">Esqueceu a senha?</a></div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-sm-12">
                    <!--<button type="button" ng-click="vm.authenticate()" class="btn btn-success btn-circle btn-block btn-shadow mbs">Log in</button>-->
                    <button type="button" ng-click="vm.authenticate()" class="btn btn-success btn-block mbs">Log in</button>                    
                </div>
            </div>
            <hr>
            <div ng-if="false" class="form-group"><p>Don't have an account? <a id="btn-register" href="page_signup.html"
                                                                 class="btn-link">Create an account</a></p></div>
        </div>
    </form>
</div>