<div class="demo-form-component">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">{{vm.title}}</div>
        </div>
        <div class="panel-body">
          <form role="form" name="form" class="form-horizontal form-seperated" novalidate>
            <div class="form-group">

              <div class="col-xs-4 col-sm-4 col-md-4 lo-lg-4" style="padding-left: 5px; padding-right: 5px;">
                <div class="mui-textfield">
                  <input required type="text" name="name" placeholder="Nome" ng-model="vm.models.name" class="required form-control" focus/>
                  <span class="requerido">Este campo é obrigatório.</span>
                  <label>Nome <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
                </div>
              </div>

              <div class="col-xs-2 col-sm-2 col-md-2 lo-lg-2" style="padding-left: 5px; padding-right: 5px;">
                <div class="mui-textfield">
                  <input required type="text" name="model" placeholder="Ano inicial" ng-model="vm.models.start_year" class="required form-control"/>
                  <span class="requerido">Este campo é obrigatório.</span>
                  <label>Ano inicial <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
                </div>
              </div>   

              <div class="col-xs-2 col-sm-2 col-md-2 lo-lg-2" style="padding-left: 5px; padding-right: 5px;">
                <div class="mui-textfield">
                  <input required type="text" name="model" placeholder="Ano final" ng-model="vm.models.end_year" class="required form-control"/>
                  <span class="requerido">Este campo é obrigatório.</span>
                  <label>Ano final <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
                </div>
              </div>                             

            </div> 

            <div class="form-group">

              <div class="col-xs-2 col-sm-2 col-md-2 lo-lg-2" style="padding-left: 5px; padding-right: 5px;">
                <div class="mui-textfield">
                  <input required type="text" name="model" placeholder="Abreviatura" ng-model="vm.models.model" class="required form-control"/>
                  <span class="requerido">Este campo é obrigatório.</span>
                  <label>Modelo <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
                </div>
              </div>     

              <div class="col-xs-2 col-sm-2 col-md-2 lo-lg-2" style="padding-left: 5px; padding-right: 5px;">
                <div class="mui-textfield">
                  <input required type="text" name="couple" placeholder="Abreviatura" ng-model="vm.models.couple" class="required form-control"/>
                  <span class="requerido">Este campo é obrigatório.</span>
                  <label>Modelo acoplado<i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
                </div>
              </div>     

              <div class="col-xs-2 col-sm-2 col-md-2 lo-lg-2" style="padding-left: 5px; padding-right: 5px;">
                <div class="mui-textfield">
                  <input required type="text" name="scenario" placeholder="Abreviatura" ng-model="vm.models.scenario" class="required form-control"/>
                  <span class="requerido">Este campo é obrigatório.</span>
                  <label>Cenário<i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
                </div>
              </div>  

              <div class="col-xs-2 col-sm-2 col-md-2 lo-lg-2" style="padding-left: 5px; padding-right: 5px;">
                <div class="mui-textfield">
                  <input required type="text" name="resolution" placeholder="Abreviatura" ng-model="vm.models.resolution" class="required form-control"/>
                  <span class="requerido">Este campo é obrigatório.</span>
                  <label>Resolução<i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
                </div>
              </div> 

            </div>              


              <div class="form-group" style="margin-top:10px;" ng-hide="vm.showConfirm">
                <a ui-sref="home.models.list" class="btn btn-default"><i class="icon-reload"></i> Cancelar</a>
                <a ng-click="vm.save(form)" class="btn btn-success"><i class="icon-check"></i> Salvar</a>
                <a ng-click="vm.remove()" ng-show="vm.models.id" class="btn btn-danger"><i class="icon-close"></i> Excluir</a>                
              </div>
              <div class="form-group" style="margin-top:10px;" ng-show="vm.showConfirm">
                <h4>Confirmação</h4>
                <p>
                  Excluir <code>{{vm.models.name}}</code> ?
                </p>                
                <a ng-click="vm.delete(vm.models.id)" class="btn btn-danger"><i class="icon-close"></i> Sim</a>                
                <a ng-click="vm.cancelRemove()" class="btn btn-default"><i class="icon-reload"></i> Não</a>
              </div>
            </div>
          </form> 
        </div>
      </div>
    </div>
  </div>
</div>