<div class="demo-form-component">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">{{vm.title}}</div>
        </div>
        <div class="panel-body">
          <form role="form" name="form" class="form-horizontal form-seperated" novalidate>

            <div class="form-group">
              <div class="col-xs-6 col-sm-6 col-md-6 lo-lg-6" style="padding-left: 5px; padding-right: 5px;">
                <div class="mui-textfield">
                  <input required type="text" name="description" placeholder="Descrição" ng-model="vm.variables.description" class="required form-control" focus/>
                  <span class="requerido">Este campo é obrigatório.</span>
                  <label>Descrição <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
                </div>
              </div>
            </div> 

            <div class="form-group">
              <div class="col-xs-6 col-sm-6 col-md-6 lo-lg-6" style="padding-left: 5px; padding-right: 5px;">
                <div class="mui-textfield">
                  <input required type="text" name="nickname" placeholder="Sigla" ng-model="vm.variables.nickname" class="required form-control"/>               
                  <span class="requerido">Este campo é obrigatório.</span>
                  <label>Sigla <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
                </div>
              </div>    
            </div>  

            <div class="form-group">
              <div class="col-xs-6 col-sm-6 col-md-6 lo-lg-6" style="padding-left: 5px; padding-right: 5px;">
                <div class="mui-textfield">
                  <input required type="text" name="type" placeholder="Tipo" ng-model="vm.variables.type" class="required form-control"/>           
                  <span class="requerido">Este campo é obrigatório.</span>
                  <label>Tipo <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
                </div>
              </div>    
            </div>  

              <div class="form-group" style="margin-top:10px;" ng-hide="vm.showConfirm">
                <a ui-sref="home.variables.list" class="btn btn-default"><i class="icon-reload"></i> Cancelar</a>
                <a ng-click="vm.save(form)" class="btn btn-success"><i class="icon-check"></i> Salvar</a>
                <a ng-click="vm.remove()" ng-show="vm.variables.id" class="btn btn-danger"><i class="icon-close"></i> Excluir</a>                
              </div>
              <div class="form-group" style="margin-top:10px;" ng-show="vm.showConfirm">
                <h4>Confirmação</h4>
                <p>
                  Excluir <code>{{vm.variables.name}}</code> ?
                </p>                
                <a ng-click="vm.delete(vm.variables.id)" class="btn btn-danger"><i class="icon-close"></i> Sim</a>                
                <a ng-click="vm.cancelRemove()" class="btn btn-default"><i class="icon-reload"></i> Não</a>
              </div>
            </div>
          </form> 
        </div>
      </div>
    </div>
  </div>
</div>