<div class="demo-form-component">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">{{vm.title}}</div>
        </div>
        <div class="panel-body">
          <form role="form" name="form" class="form-horizontal form-seperated" novalidate>
          
            <div class="form-group">
              <div class="col-xs-6 col-sm-6 col-md-6 lo-lg-6" style="padding-left: 5px; padding-right: 5px;">
                <div class="mui-textfield">
                  <input required type="text" name="name" placeholder="Nome" ng-model="vm.states.name" class="required form-control" focus/>
                  <span class="requerido">Este campo é obrigatório.</span>
                  <label>Nome <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
                </div>
              </div>

            </div>  


            <div class="form-group">
              <div class="col-xs-6 col-sm-6 col-md-6 lo-lg-6" style="padding-left: 5px; padding-right: 5px;">
                <div class="mui-textfield">
                  <ui-select ng-model="vm.states.country" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required>
                    <ui-select-match placeholder="Selecione um país">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="country in vm.countries.data | propsFilter: {name: $select.search}">
                      <div ng-bind-html="country.name | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>               
                  <span class="requerido">Este campo é obrigatório.</span>
                  <label>País <i class="fa fa-asterisk" style="color:red; font-size:8px;"></i></label>
                </div>
              </div>    
            </div>               

              <div class="form-group" style="margin-top:10px;" ng-hide="vm.showConfirm">
                <a ui-sref="home.states.list" class="btn btn-default"><i class="icon-reload"></i> Cancelar</a>
                <a ng-click="vm.save(form)" class="btn btn-success"><i class="icon-check"></i> Salvar</a>
                <a ng-click="vm.remove()" ng-show="vm.states.id" class="btn btn-danger"><i class="icon-close"></i> Excluir</a>
              </div>
              <div class="form-group" style="margin-top:10px;" ng-show="vm.showConfirm">
                <h4>Confirmação</h4>
                <p>
                  Excluir <code>{{vm.states.name}}</code> ?
                </p>                
                <a ng-click="vm.delete(vm.states.id)" class="btn btn-danger"><i class="icon-close"></i> Sim</a>                
                <a ng-click="vm.cancelRemove()" class="btn btn-default"><i class="icon-reload"></i> Não</a>
              </div>
            </div>
          </form> 
        </div>
      </div>
    </div>
  </div>
</div>