<div class="demo-form-component">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">{{vm.title}}</div>
        </div>
        <div class="panel-body">
          <form role="form" name="form" class="form-horizontal form-seperated" novalidate>
            <div class="form-body">
              
              <div class="form-group" ng-class="{'has-error': form.name.$invalid && !form.name.$pristine}">
                <label for="name" class="col-md-3 control-label">Nome<span class="require">*</span></label>
                <div class="col-md-6">
                  <input required type="text" name="name" placeholder="Nome" ng-model="vm.cities.name" class="required form-control" focus/>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-error': form.state.$invalid && !form.state.$pristine}">
                <label for="state" class="col-md-3 control-label">País<span class="require">*</span></label>
                <div class="col-md-6">
                    <ui-select ng-model="vm.cities.state" theme="select2" ng-disabled="disabled" style="min-width: 100%;" required>
                      <ui-select-match placeholder="Selecione um país">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="state in vm.states.data | propsFilter: {name: $select.search}">
                        <div ng-bind-html="state.name | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                </div>
              </div>  

              <div class="form-group" style="margin-top:10px;" ng-hide="vm.showConfirm">
                <a ui-sref="home.cities.list" class="btn btn-default"><i class="icon-reload"></i> Cancelar</a>
                <a ng-click="vm.save(form)" class="btn btn-success"><i class="icon-check"></i> Salvar</a>
                <a ng-click="vm.remove()" ng-show="vm.cities.id" class="btn btn-danger"><i class="icon-close"></i> Excluir</a>                
              </div>
              <div class="form-group" style="margin-top:10px;" ng-show="vm.showConfirm">
                <h4>Confirmação</h4>
                <p>
                  Excluir <code>{{vm.cities.name}}</code> ?
                </p>                
                <a ng-click="vm.delete(vm.cities.id)" class="btn btn-danger"><i class="icon-close"></i> Sim</a>                
                <a ng-click="vm.cancelRemove()" class="btn btn-default"><i class="icon-reload"></i> Não</a>
              </div>
            </div>
          </form> 
        </div>
      </div>
    </div>
  </div>
</div>