<!--<div ui-view="navbar">
  <div ng-include="'app/core/main/templates/navbar.html'"></div>
</div>-->


<div ui-view="content" ng-class="header.boxed" class="fluid">
  <!--BEGIN TEMPLATE SETTING-->
  <div ng-include="'app/core/main/templates/template-setting.html'" class="hidden-xs hidden-sm"></div>
  <!--END TEMPLATE SETTING-->
  <!--BEGIN TOPBAR-->
  <div ng-include="'app/core/main/templates/topbar.html'" class="page-header-topbar"></div>
  <!--END TOPBAR-->
  <!--BEGIN HORIZONTAL MENU-->
  <div ng-include="'app/core/main/templates/horizontal-menu.html'" class="page-horizontal-menu"></div>
  <!--END HORIZONTAL MENU-->
  <div id="wrapper">
    <!--BEGIN PAGE WRAPPER-->
    <div id="page-wrapper">
      <!--BEGIN SIDEBAR MAIN-->
      <div ng-include="'app/core/main/templates/sidebar-main.html'" class="sidebar-main sidebar"></div>
      <!--END SIDEBAR MAIN-->
      <!--BEGIN CHAT FORM-->
      <div ng-include="'app/core/main/templates/chat-form.html'" class="chat-form-wrapper"></div>
      <!--END CHAT FORM-->
      <!--BEGIN PAGE CONTENT-->
      <div ng-class="[header.animation]" ng-generaltab="" class="page-content animated">
        <!--BEGIN TITLE & BREADCRUMB PAGE-->
        <div ng-include="'app/core/main/templates/title-breadcrumb.html'" class="page-title-breadcrumb"></div>
        <!--END TITLE & BREADCRUMB PAGE-->
        <div class="box-content">
          <!--BEGIN CONTENT-->
          <div ui-view="" class="content"></div>
          <!--END CONTENT-->
        </div>
      </div>
      <!--END PAGE CONTENT-->
    </div>
    <!--END PAGE WRAPPER-->
  </div>
</div>



<div ui-view="footer">
  <div ng-include="'app/core/main/templates/footer.html'"></div>
</div>
