<div ng-include="'app/core/main/templates/sidebar-main.html'" class="sidebar-main sidebar"></div>
    <div ng-include="'app/core/main/templates/chat-form.html'" class="chat-form-wrapper"></div>
    <div ng-class="[header.animation]" ng-generaltab="" class="page-content animated">
    <div ng-include="'app/core/main/templates/title-breadcrumb.html'" class="page-title-breadcrumb"></div>
    <div class="box-content">
        <div ui-view="content" class="content pagina-content"></div>
    </div>
</div>