
<div class="sidebar-section">Todo list</div>
<div class="list-todo-scroll">
  <ul class="list-group list-todo">
    <li class="list-group-item level1"><a href="">Adjust water pressure of the sink
        <div class="clear mtx">
          <div class="tk-point">10 points</div>
          <div class="tk-deadline">20.09.2014</div>
        </div></a></li>
    <li class="list-group-item level2"><a href="">Remove old refrigerator and stove
        <div class="clear mtx">
          <div class="tk-point">10 points</div>
          <div class="tk-deadline">20.09.2014</div>
        </div></a></li>
    <li class="list-group-item level3"><a href="">Install new sink
        <div class="clear mtx">
          <div class="tk-point">10 points</div>
          <div class="tk-deadline">20.09.2014</div>
        </div></a></li>
    <li class="list-group-item level4"><a href="">Install new flooring
        <div class="clear mtx">
          <div class="tk-point">10 points</div>
          <div class="tk-deadline">20.09.2014</div>
        </div></a></li>
    <li class="list-group-item level1"><a href="">Adjust water pressure of the sink
        <div class="clear mtx">
          <div class="tk-point">10 points</div>
          <div class="tk-deadline">20.09.2014</div>
        </div></a></li>
    <li class="list-group-item level2"><a href="">Remove old refrigerator and stove
        <div class="clear mtx">
          <div class="tk-point">10 points</div>
          <div class="tk-deadline">20.09.2014</div>
        </div></a></li>
    <li class="list-group-item level3"><a href="">Duis aute irure dolor in reprehenderit in voluptate velit
        <div class="clear mtx">
          <div class="tk-point">10 points</div>
          <div class="tk-deadline">20.09.2014</div>
        </div></a></li>
    <li class="list-group-item level4"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit
        <div class="clear mtx">
          <div class="tk-point">10 points</div>
          <div class="tk-deadline">20.09.2014</div>
        </div></a></li>
  </ul>
</div>
<div class="mtl"></div>
<div class="sidebar-section">Activities</div>
<div class="timeline mbm">
  <div class="tl-item">
    <div class="mll">
      <div class="text-muted font-italic">2 minutes ago</div>
      <p>Test prototype</p>
    </div>
  </div>
  <div class="tl-item">
    <div class="mll">
      <div class="text-muted">8:00</div>
      <p>Prepare focus group objectives</p>
    </div>
  </div>
  <div class="tl-item border-success">
    <div class="mll">
      <div class="text-muted font-italic">6:30</div>
      <p>Create <a href="" class="text-info">Market</a> research findings
      </p>
    </div>
  </div>
  <div class="tl-item border-primary">
    <div class="mll">
      <div class="text-muted font-italic">Thu,16 Oct</div>
      <p>Desgin production process</p>
    </div>
  </div>
  <div class="tl-item border-warning">
    <div class="mll">
      <div class="text-muted font-italic">Wed, 15 Oct</div>
      <p>Develop initial marketing plan</p>
    </div>
  </div>
  <div class="tl-item border-info">
    <div class="mll">
      <div class="text-muted font-italic">Mon, 13 Oct</div>
      <p>Project management activities</p>
    </div>
  </div>
  <div class="tl-item">
    <div class="mll">
      <div class="text-muted font-italic">Sun, 12 Oct</div>
      <p><a href="" class="text-info">Design</a> quality assurance tests
      </p>
    </div>
  </div>
  <div class="tl-item">
    <div class="mll">
      <div class="text-muted font-italic">Fri, 10 Oct</div>
      <p>Desgin document review</p>
    </div>
  </div>
</div>